# PostgreSQL
DATABASE_URL=postgresql+asyncpg://pdfuser:mypassword@localhost:5431/pdfdb
SYNC_DATABASE_URL=postgresql://pdfuser:mypassword@localhost:5431/pdfdb

# Groq LLM
GROQ_API_KEY=your_groq_api_key_here

# LangSmith Tracing
LANGCHAIN_TRACING_V2=true
LANGCHAIN_API_KEY=your_langsmith_api_key_here
LANGCHAIN_PROJECT='Trade-Agentic'
LANGCHAIN_ENDPOINT=https://api.smith.langchain.com

# App
PDF_FOLDER=./pdfs
PROMPT_PATH=./app/prompts/analyze.yaml
GROQ_MODEL=llama-3.3-70b-versatile

API_BASE_URL=http://127.0.0.1:8000
